URL = "https://sales-scholarship-application-requests-develop-iymj66chvq-uc.a.run.app/"
SELECTED_LANGUAGE = "Estados Unidos" #"English" # or "Spanish" or "Español" or "español" or "inglés" or "Inglés" or "english" or "spanish" or "España" or "Espana" or "españa" or "espana" or "united states", "estados unidos" or "United States", "Estados Unidos"
ACCESS_CODE = "cfee74a"
PREVIOUS_ACCESS_CODE = "cfee74a"